body {
    margin: 0;
    padding: 0;
    background-image: url(/imagenes/background.jpg); 
    background-size: cover;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.title1 {
    font-size: 100px;
    margin-bottom: 10px;
    color:antiquewhite
}

.title2 {
    font-size: 90px;
    margin-bottom: 20px;
    color: antiquewhite;
    background-color: #000;
}

a {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(2, 158, 2);
    border-radius: 30px;
    color: #000;
    border: none;
    cursor: pointer;
    color: antiquewhite;
}

.footer {
    margin-top: 50px;
}