.header {
    text-align: center;
    padding: 20px;
    background-image: url('imagenes/BannerBackground.jpg');
}

.imglogo{
    width: 80px;
    height: 40px;
}

.img-producto {
    width: 500px;
    height: 500px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h1 {
    font-size: 2em;
    margin-right: 10px;
}

.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navigation nav {
    display: flex;
    justify-content: center;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation li {
    margin: 0 15px;
}

.section {
    padding: 20px;
}

.productos {
    display: flex;
    overflow-x: auto;
}

.slide {
    flex: 0 0 300px;
    margin-right: 15px;
    text-align: center;
}

.quienes-somos-content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.quienes-somos-content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

.quienes-somos-content p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

